@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

:root {
    --primary-color: #1D2937;
    --text-color: white;
    --padding-main-box: 3rem 0;
    --font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}